.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card-image {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  width: 100%;
  overflow: hidden;
}

.card-image img {
  width: inherit;
  height: 250px;
}

.card-content {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-content h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-content p {
  padding-bottom: 10px;
  height: 45px;
}

.items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

.button {
  color: white;
  background-color: rgb(233, 78, 75);
}
